#filtre {
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 152, 152);
    justify-content: space-between;
    text-align: center;
    height: 20em;
    width: 17em;
    top: 150px;
    left: 30px;
    padding: 2em;
    border: 1px solid black;
}