*{
    background-color: #333;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    
    position: relative;
    color: white;
    border: 2px solid #FF4754;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    transition: all .2s;
    cursor: pointer;
}
  
button:hover {
  background-color: #FF4754;
} 

button span {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background: #FF4754;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #333;
    border-radius: 50%;
}